@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeurCyr/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeurCyr/HelveticaNeueCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeurCyr/HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('../fonts/HelveticaNeurCyr/HelveticaNeueCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeurCyr/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeurCyr/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

